@charset "UTF-8";

body {
    background-blend-mode: screen;
    background-blend-mode: multiply;
    background-blend-mode: overlay;
    background-blend-mode: darken;
    background-blend-mode: soft-light;
    background-blend-mode: luminosity;
    background           :
        linear-gradient(red, transparent),
        linear-gradient(to top left, lime, transparent),
        linear-gradient(to top right, blue, transparent);
}

h1 {
    color: #ffffff;
    margin-top : 25vh - 1em;
    margin-left: 25vw - 1em;
    text-align : center;
    text-shadow:
        -0 -1px 0 #000000,
        0 -1px 0 #000000,
        -0 1px 0 #000000,
        0 1px 0 #000000,
        -1px -0 0 #000000,
        1px -0 0 #000000,
        -1px 0 0 #000000,
        1px 0 0 #000000,
        -1px -1px 0 #000000,
        1px -1px 0 #000000,
        -1px 1px 0 #000000,
        1px 1px 0 #000000,
        -1px -1px 0 #000000,
        1px -1px 0 #000000,
        -1px 1px 0 #000000,
        1px 1px 0 #000000;
}

*,
*::before,
*::after {
    -webkit-user-select: none;
    -khtml-user-select : none;
    -moz-user-select   : none;
    -ms-user-select    : none;
    user-select        : none;

    @media (inverted-colors: invert) {
        filter: invert(100%)
    }
}
